.chat-layout {
    display: flex;
    flex-flow: column;
    margin: 0;
}
.message {
    max-width: 45%;
    margin: 5px;
    display: inline-block !important;
}
.chat-container {
    padding: 5px 5px 0 5px;
    flex: 1 1 60vh;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
}
.message-container{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
}
.message-input-container {
    flex: 0 1  !important;
    height: 40px;
    display: flex;
    padding: 15px;
}
.mat-line{
    padding: 0;
}
.message-content {
    padding: 5px 20px;
    margin: 0;
    border-radius: 50px;
    display: inline-block;
}
.message-input{
    flex: 1 0 75%;
}
.message-send{
    flex: 0 0 50px !important;
}
.other-message{
    position: relative;
    margin-left: auto !important;
}
.userName {
    display: inline;
    color: black;
    margin: 0;
    font-weight: bold;
    font-size: .8em;
}
.messageTime {
    display: inline;
    margin: 0;
    margin-left: 10px;
    align-self: auto;
    font-size: .8em;
}
.host{
    background-color: lightgreen;
}
.other{
    float:right;
    right: 0;
    background-color: lightgray;
}
