<app-title-forms></app-title-forms>
<mat-card class="card-container">
  <form class="form-container">
    <div class="inputform">
        <mat-form-field>
          <input matInput placeholder="{{'form.email' | translate}}" [formControl]="emailFormControl" required>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            {{'form.validEmail' | translate}}
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            {{'form.emailRequired' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="{{'form.password' | translate}}" [formControl]="passwordFormControl" required required>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            {{'form.passwordRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="container-center">
      <a [routerLink]="['/register']" mat-button color="primary">{{'form.register' | translate}}</a>
      <button mat-flat-button (click)="login()" color="primary">{{'form.login' | translate}}</button>
      </div>
  </form>
</mat-card>