        <div class="tabsButton">
        <mat-card class=" tabs">Conversations</mat-card>
        <button mat-raised-button class="add tabsButton" (click)="addContact()"><mat-icon>person_add</mat-icon></button>
        </div>
        <mat-nav-list>
            <mat-list-item class="user-list-item">
                <button mat-button class="user-list-button" (click)="newConversation()"><mat-icon>add</mat-icon></button>
                <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item class="user-list-item" *ngFor="let conversation of conversations">
                <button mat-list-item class="user-list-button hidden" (click)="join(conversation._id)" [routerLink]="['/chat', conversation._id]"></button>
                <img matListAvatar  src="../../assets/User.png" alt="User picture">
                <h3 matLine> {{ conversation.participants}}  </h3>
                <!-- <p matLine>
                    <span class="message"> {{contact._id}} </span>
                </p> -->
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-nav-list>

            
            
