.bar{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.username {
    display: inline;
    margin-right: 10px; 
}
.user-avatar{
    width: 70px;
    height: 70px;
}
.dashboard-container{
    display: flex;
    flex-direction: row;
}
.sidebar-container {
    flex: 0 0 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat-container {
    flex: 1 1 75%;
    padding: 0px;
}
.sidebar {
    height: 82vh;
    padding: 0 !important;
}
.settings {
    position: relative;
    padding-bottom: 70px;
}
.return {
    left: 50%;
    transform:translate(-50%, -50%);
    position: absolute;
    bottom: 10px;
}