<app-title-forms></app-title-forms>
<mat-card class="card-container">
    <form class="form-container" [formGroup]="registerForm">
      <div class="inputform">
        
        <mat-form-field>
          <input matInput placeholder="{{'form.email' | translate}}" formControlName="email" required>
          <mat-error *ngIf="f.email.hasError('email') && !f.email.hasError('required')">
            {{'form.validEmail' | translate}}
          </mat-error>
          <mat-error *ngIf="f.email.hasError('required')">
            {{'form.emailRequired' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="{{'form.newUsername' | translate}}" formControlName="username" required>
            <mat-error *ngIf="f.username.hasError('required')">
              {{'form.UserNameRequired' | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="{{'form.password' | translate}}" formControlName="password" required>
          <mat-error *ngIf="f.password.hasError('required')">
            {{'form.passwordRequired' | translate}}
          </mat-error>
          <mat-error *ngIf="f.password.hasError('minlength')">
            {{'form.passwordLenght' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="{{'form.passwordConfirmation' | translate}}" formControlName="passwordConfirm" required>
          <mat-error *ngIf="f.passwordConfirm.hasError('required')">
            {{'form.confirmationRequired' | translate}}
          </mat-error>
          <mat-error *ngIf="registerForm.hasError('noMatch') && !f.passwordConfirm.hasError('required')">
            {{'form.confirmationNoMatch' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="{{'form.language' | translate}}" formControlName="language">
              <mat-option *ngFor="let language of languages" [value]="language.value">
                {{language.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="container-center">
          <button mat-flat-button [routerLink]="['/login']">{{'form.login' | translate}}</button>
          <button mat-flat-button (click)='register()' color="primary">{{'form.register' | translate}}</button>
        </div>
  </form>
</mat-card>