<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{'form.passwordTitle' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="passwordForm">
        <mat-form-field>
          <input matInput formControlName="password" type="password" placeholder="{{'form.newPassword' | translate}}">
          <mat-error *ngIf="f.password.hasError('required')">
              {{'form.passwordRequired' | translate}}
            </mat-error>
            <mat-error *ngIf="f.password.hasError('minlength')">
                {{'form.passwordLenght' | translate}}
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="password" placeholder="{{'form.passwordConfirmation' | translate}}" formControlName="passwordConfirm" required>
            <mat-error *ngIf="f.passwordConfirm.hasError('required')">
                {{'form.confirmationRequired' | translate}}
            </mat-error>
            <mat-error *ngIf="passwordForm.hasError('noMatch') && !f.passwordConfirm.hasError('required')">
                {{'form.confirmationNoMatch' | translate}}
            </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="changePassword()" >{{'generic.save' | translate}}</button>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              {{username}}
          </mat-panel-title>
          <mat-panel-description>
              {{'form.usernameDescription' | translate}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form>
          <mat-form-field>
            <input matInput [formControl]="usernameForm" placeholder="{{'form.newUsername' | translate}}">
            <mat-error *ngIf="usernameForm.hasError('required')">
                {{'form.UserNameRequired' | translate}}
              </mat-error>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" (click)="changeUsername()">{{'generic.save' | translate}}</button>
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              {{language}}
          </mat-panel-title>
          <mat-panel-description>
              {{'form.languageDescription' | translate}}
          </mat-panel-description>
          </mat-expansion-panel-header>
          <form>
            <mat-form-field>
                <mat-select placeholder="{{'form.language' | translate}}" [formControl]="languageForm">
                  <mat-option *ngFor="let language of languages" [value]="language.value">
                    {{language.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" (click)="newLanguage()">{{'generic.save' | translate}}</button>
          </form>
    </mat-expansion-panel>
    </mat-accordion>